<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	
    <link href="../styles/kendo.common.min.css" rel="stylesheet" />
    <link href="../styles/kendo.default.min.css" rel="stylesheet" />
    <link href="../styles/kendo.mobile.all.min.css" rel="stylesheet" />
    <script src="../js/jquery.min.js"></script>
    <script src="../js/kendo.all.min.js"></script>
    <script>
    window.scrollTo(0, 1);
    </script>
</head>
<body>
    <div data-role="view" id="scrollview-home" data-title="Photo Gallery">
    <div id="scrollview-container">
        <div data-role="scrollview" data-page="2">
            <div class="content1" data-role="page">
            
             <center>Hello world jQuery1</center>
             
            </div>
            <div class="content2" data-role="page">
            
            <center>Hello world jQuery2</center>
            
            </div>
            <div class="content3" data-role="page">
            </div>
            <div class="content4" data-role="page">
            </div>
            <div class="content5" data-role="page">
            </div>
            <div class="content6" data-role="page">
            </div>
            <div class="content7" data-role="page">
            </div>
            <div class="content8" data-role="page">
            </div>
            <div class="content9" data-role="page">
            </div>
            <div class="content10" data-role="page">
            </div>
        </div>
    </div>
    
</div>





<script>
    var app = new kendo.mobile.Application(document.body);
</script>
</body>
</html>